@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col-xs-4">
    @if(@Model["genres"].Count > 0)
    {
      <form id="filter-form" action="/filter/" class="form-inline" method="get">
        <div class="form-group">
          <select id="genre-dropdown" class="form-control" name="genre">
            @foreach(var genre in @Model["genres"])
            {
              <option value="@genre.GetId()" type="submit">@genre.GetName()</option>
            }
          </select>
        </div>
        <button class="btn btn-sm" >Show</button>
      </form>
    }
    <div class="row">
      <form class="form-inline" action="/genre/new" method="post">
        <div class="form-group">
          <label class="sr-only" for="genre-name">Enter genre</label>
          <div class="input-group">
            <div class="input-group-addon">Genre: </div>
            <input class="form-control" type="text" name="genre-name">
          </div>
        </div>
        <button class="btn btn-sm" type="submit" name="button">Add</button>
      </form>
    </div>
    <div class="row">
      <form class="" action="/cd/new" method="post">
        <div class="form-group">
          <label for="cd-title">Title:</label>
          <input class="form-control" type="text" name="cd-title" value="">
        </div>
        <div class="form-group">
          <label for="cd-artist">Artist:</label>
          <input class="form-control" type="text" name="cd-artist" value="">
        </div>
        <div class="form-group">
          <label for="cd-release-year">Release Date (Year):</label>
          <input class="form-control" type="number" name="cd-release-year" value="">
        </div>
        @if(@Model["genres"].Count > 0)
        {
            <div class="form-group">
              <select id="genre-dropdown" class="form-control" name="cd-genre">
                @foreach(var genre in @Model["genres"])
                {
                  <option value="@genre.GetId()">@genre.GetName()</option>
                }
              </select>
            </div>
        }
        <button class="btn btn-sm" type="submit" name="button">Add CD</button>
      </form>
    </div>
  </div>
  <div class="col-xs-8">
    <ul>
      @if(@Model["query"] != -1)
      {
        @foreach(var cd in @Model["genres"].Find(@Model["query"]).GetAllCds())
        {
          <li><strong>@cd.GetTitle()</strong></li>
          <ul>
            <li>@cd.GetArtist()</li>
            <li>@cd.GetReleaseYear()</li>
            <li>@cd.GetGenre().GetName()</li>
          </ul>
        }
      } else {
        @foreach(var cd in @Model["cds"])
        {
          <li><strong>@cd.GetTitle()</strong></li>
          <ul>
            <li>@cd.GetArtist()</li>
            <li>@cd.GetReleaseYear()</li>
            <li>@cd.GetGenre().GetName()</li>
          </ul>
        }
      }
    </ul>
  </div>
</div>
